.bg-aqua {
  background-color: #55a998!important;
}

.form-control {
  color: #333333!important;
}

.selectize-dropdown, .selectize-input, .selectize-input input  {
  color: #333333!important;
}

.small-box .icon-large {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 20px!important;
  font-size: 70px;
  color: rgba(0, 0, 0, 0.15);
}


#img-id {
  position: absolute;
  right: 25px;
  top: 22px;
  font-size: 1rem;
  color: #FFFFFF;
}

#rc {
  position: absolute;
  right: 60px;
  top: 25px;
  font-size: .9rem;
  .9rem; color: #FFFFFF;
}

#sg {
position: absolute;
right: 190px;
top: 25px;
font-size: .9rem;
color: #FFFFFF;
}


.nav>li>a:active, .nav>li>a:focus, .nav>li>a:hover {
    color: #444;
    background: transparent!important; 
}

/*.slick-slide {
    text-align: left!important;
    color: #000!important;
    background: white;
    width: 100%;
    font-size: 1.2rem;
}
*/